body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

main {
  margin-bottom: 50px; /* Add space at the bottom to account for the footer */
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

footer {    
  text-align: center;  
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Styling for Shipping Differential */
.shipping-differential-positive {
  color: green;
}

.shipping-differential-negative {
  color: red;
}

.shipping-differential-neutral {
  color: black;
}

/* Sales Analytics */
.sales-analytics {
  margin-bottom: 20px;
}

/* Shipping Analytics */
.shipping-analytics {
  margin-bottom: 20px;
}

.shipping-differential-positive {
  color: green;
}

.shipping-differential-negative {
  color: red;
}

.shipping-differential-neutral {
  color: black;
}

/* Orders To Investigate */
.orders-to-investigate {
  margin-top: 10px;
}

.order-row-positive {
  background-color: lightgreen;
}

.order-row-negative {
  background-color: lightcoral;
}

.filtered-orders {
  overflow-x: auto; /* Enable horizontal scrolling */
}
